.navHeader {
    padding: 0.5rem 0;
}
.brand {
    font-size: 2rem;
    letter-spacing: -0.025em;
    font-weight: 600;
    position: relative;
    color: var(--darker-gray);

    transition: 300ms color ease-in-out;
}
.brand span{
    font-weight: 400;
    color: var(--gray);
    transition: 300ms color ease-in-out;
}
.brand:before,
.brand:after {
    content: '';
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: absolute;
    transform-origin: center center;
    transition: 300ms transform ease-in-out;
}
.brand:before {
    right: -0.85rem;
    bottom: 0.2rem;
    background-color: var(--lighter-gray);
}
.brand:after {
    width: 0.75rem;
    height: 0.75rem;
    bottom: 0.3rem;
    background-color: var(--accent-color);
    
}

.brand:hover, 
.brand:hover span {
    color: var(--accent-color);
}
.brand:hover:before,
.brand:hover:after {
    transform: scale(0.9);
}